<h2 align="center">What is Planning Poker?</h2>

<br /><hr /><br />
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-5">
            <img src="../img/Logo.png" width="500" />
        </div>
        <!--<div class="col-md-5">
            <p style="font-size: 17px; text-indent: 20px;">
                Покер Планирования – это способ командного согласования оценки сложности или объема работы при разработке
                программного обеспечения.
            </p>
            <p style="font-size: 17px; text-indent: 20px;">
                В этом способе делается попытка минимизировать влияние, оказываемое на оценку
                преждевременными комментариями участников команды.
            </p>
            <p style="font-size: 17px; text-indent: 20px; ">
                Для каждого оцениваемого задания каждый член команды выбирает
                свою карту оценки (карты имеют значения 0, 0.5, 1, 2, 3, 5, 8, 13, 20, 40, 100), таким образом, что его карту не
                видит никто из других игроков. После того как все игроки сделали свой выбор, карты раскрываются (и происходит обсуждение).
            </p>
        </div>-->
    </div>
</div>