<h2 align="center">Contact</h2>

<br /><hr /><br /><br /><br />
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-5">
            <img src="../img/Logo.png" width="500" />
        </div>
        <div class="col-md-5">
            <p style="font-size: 20px; text-indent: 20px;">
                If you have some questions you may contact the developer:
            </p>
            <p style="font-size: 20px; text-indent: 20px;">
                <img src="../../img/phone.png"/><span>&nbsp; +375 44 716 47 10</span>
            </p>
            <p style="font-size: 20px; text-indent: 20px; ">
                <img src="../../img/mail.png" /><span>&nbsp; anskri@mail.ru</span>
            </p>
        </div>
    </div>
</div>