    <div class="container">
        <hr />
        <h2 class="text-center">{{ message }} {{userName}}</h2>
        <hr />
        <div class="text-center"><a class="btn btn-warning" style="width: 200px;" ng-click="showRoomForm()">Create room</a></div>
        <br/><br/>
        <!--the form for creating the room-->
        <form role="form" ng-show="data.visible" class="form-horizontal text-center">
            <div class="form-group">
                <label for="rName" class="control-label">Name</label>
                <div align="center"><input type="text" class="form-control" id="rName" placeholder="Enter room name" data-ng-model="newroom.Name" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="rDescription" class="control-label">Description</label>
                <div align="center"><textarea class="form-control" rows="3" data-ng-model="newroom.Description" id="rDescription"></textarea>
                </div>
            </div>
            <button class="btn btn-success" ng-click="createRoom()">Create</button>
            <button class="btn btn-default" ng-click="closeRoomForm()">Cancel</button>
        </form>

        <hr/>
        <h3 class="text-center">Recent Rooms</h3>
        <table class="table table-hover">
            <tr>
                <th>Room Id</th>
                <td>Name</td>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="(id, room) in rooms">
                <td><strong>{{ room.Id }}</strong></td>
                <td>
                    <p>{{room.Name }}</p>
                </td>
                <td>
                    <p>{{ room.Description }}</p>
                </td>
                <td><a ng-click="deleteRoom(room.Id)">Delete</a></td>
            </tr>
        </table>
    </div>
 
