<div class="container">
    <hr />
    <h2 class="text-center">{{ message }} {{userName}}</h2>
    <hr />
    <!--Trigger the modal with a button-->    
    <div class="text-center">
        <a class="btn btn-warning" style="width: 200px;" data-toggle="modal" data-target="#myModal">Create room</a>
    </div>    
    <br />
     <!--Modal--> 
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Room creation</h3>
                    <h4>Fill the form to create the room.</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="rName" class="col-sm-push-2 col-sm-2 control-label">Name</label>
                            <div class="col-sm-push-2 col-sm-10">
                                <input type="text" class="form-control" id="rName" placeholder="Enter room name" data-ng-model="newroom.Name" required />                                
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="rDescription" class="col-sm-push-2 col-sm-2 control-label">Description</label>
                            <div class="col-sm-push-2 col-sm-10">
                                <textarea class="form-control" rows="3" data-ng-model="newroom.Description" id="rDescription"></textarea>
                            </div>
                        </div>                        
                    </form>                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="createRoom()" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                    
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h3 class="text-center">Recent Rooms</h3>
    <div class="col-lg-offset-3 col-lg-6">
        <table class="table table-hover table-bordered text-center">
            <tr>
                <th style="width:40px;" class="text-center">#</th>
                <th style="width:200px;" class="text-center">Name</th>
                <th style="width:400px;" class="text-center">Description</th>
            </tr>
            <tr ng-repeat="(id, room) in rooms">
                <td><strong>{{ $index+1 }}</strong></td>
                <td>
                   <h4 ng-click="enterRoom(room.Id)" style="cursor: pointer;" class="text-primary">{{room.Name}}&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></h4>
                </td>
                <td>
                    <p>{{ room.Description }}&nbsp;&nbsp;<img src="../../img/closed-stamp.png" width="100px;" ng-show="room.IsClosed" /></p>
                </td>
                <!--<td data-ng-hide="!userIsAdmin"><a ng-click="deleteRoom(room.Id)" style="cursor: pointer;">Delete</a></td>-->
            </tr>
        </table>
    </div>
</div>

