<div class="container text-center">
    <hr />
    <h2>Welcome to the room {{name}}</h2>
    <hr />
    <h2>{{currentRoom.roomName}}</h2>
    <h3>{{currentRoom.roomDescription}}</h3>
    <hr/>
    <div class="text-center">
        <a class="btn btn-warning" style="width: 200px;">Close room</a>
    </div>
    <hr/>
    <form role="form" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="msg" placeholder="Type your message" ng-model="message">
        </div>
        <button class="btn btn-success" ng-click="newMessage()">Send</button>
    </form>
    <br />
    <p>Or choose a card</p>
    <span ng-repeat="(id, card) in cards">
        <a ng-click="cardChosen(card.Id)"><img src="{{card.Path}}" width="80" /></a>
    </span>
    <hr /><br />
    <hr /><br />
    <div>
        <ul>
            <li ng-repeat="chat in messages track by $index" style="list-style-type: none;">
                <span ng-bind="chat"></span>
            </li>
        </ul>
    </div>
    <div>
        {{newChoice.RoomId}}
    </div>
    <div>
        {{newChoice.CardId}}
    </div>
    <div>
        {{newChoice.UserId}}
    </div>
</div>
