<div class="container text-center">
    <hr/>
    <h2>Welcome to the room {{name}}</h2>
    <hr />
    <h2>{{currentRoom.roomName}}</h2>
    <h3>{{currentRoom.roomDescription}}</h3>
    <hr />
    <form role="form" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="msg" placeholder="Type your message" ng-model="message">
        </div>
        <button class="btn btn-success" ng-click="newMessage()">Send</button>
    </form>
    <br/>
    <p>Or choose a card</p>
    <span ng-repeat="(id, card) in cards">
        <img src="{{card.Path}}" width="80" ng-click="cardChosen(card.Id)"/>
    </span>
    <hr /><br />
    <hr /><br />
    <div>
        <ul>
            <li ng-repeat="chat in messages track by $index" style="list-style-type: none;">
                <span ng-bind="chat"></span>
            </li>
        </ul>
    </div>    
</div>
