<div class="container text-center">       
    <hr />
    <h2>{{currentRoom.roomName}}</h2>
    <h3>{{currentRoom.roomDescription}}</h3>
    <div class="col-lg-12">
        <hr />
        <div class="col-lg-4">
            <h3><a class="btn btn-primary" style="width: 160px;" ng-click="toRoom()"><i class="fa fa-arrow-left"></i> Back to the Room</a></h3>
        </div>
        <div class="col-lg-4">
            <h3>{{currentStory.name}}</h3>
        </div>          
    </div>
    <div class="col-lg-12">
        <hr />
    </div>

        <!--form for typing messages-->
    <div class="text-center">
        <h4>Share your thoughts:</h4>
        <form role="form" class="form-inline" >
            <div class="form-group">
                <input type="text" class="form-control" id="msg" placeholder="Type your message" ng-model="message">
            </div>
            <button class="btn btn-success" ng-click="newMessage()">Send</button>
        </form>
        <br />
        <hr/>
        <!--div for messages in chat-->
        <button class="btn btn-primary" ng-click="showChatForm()">Discussion</button>
        <div ng-show="showChat">            
            <div style="overflow-y:scroll;height:200px; text-align:left; border: 1px solid #DDDDDD;" class="col-lg-offset-3 col-lg-6" id="chat">
                <h4 ng-repeat="chat in messages track by $index" style="list-style-type: none;">{{chat}}
                    <!--<span ng-bind="chat"></span>-->                    
                </h4>
            </div>              
        </div>
        <div class="col-lg-12">
            <hr />
        </div>
    </div>

    <div ng-show="!done" class="col-lg-12">
        <h3>Choose a card</h3><br />
        <div id="cardsList">
            <span ng-repeat="(id, card) in cards">
                <a><img class="small" ng-src="{{card.Path}}" ng-click="selectCard(card.Id)" ng-class="{'big': card.Id == activeClass}" /></a>
            </span>
        </div>

        <div class="col-lg-12">           
            <br />
            <a class="btn btn-success" style="width: 100px;" ng-click="cardChosen()">Choose!</a>
            <hr />
        </div>
    </div>

    <div class="col-lg-offset-3 col-lg-6 text-center">
        <h3 class="text-center">Room members</h3>
        <table class="table table-hover table-bordered text-center">
            <tr>
                <th style="width:150px;" class="text-center">Name</th>
                <th style="width:150px;" class="text-center">Ready</th>
                <th style="width:150px;" class="text-center" ng-show="currentStory.isEstimated">Card</th>                
            </tr>
            
            <tr ng-repeat="(id, user) in roomUsers">
                <td>{{user.userName}}</td>
                <td style="width:150px;" class="text-center"><img src="../../img/checkBlue.png" ng-show="user.ready" width="30px;"/></td>
                <td style="width:150px;" class="text-center" ng-show="currentStory.isEstimated" ng-class="{'text-success': user.value == minValue, 'text-danger': user.value == maxValue }"><span ><b>{{user.value}}</b></span></td>                
            </tr>
        </table>
    </div>

    <div class="col-lg-12" data-ng-hide="!userLink.isAdmin">
        <br />
        <a class="btn btn-warning" style="width: 150px;" ng-show="showCard && !currentStory.isEstimated" ng-click="showCards()">Show cards</a>        
    </div>

    <div class="col-lg-12" ng-show="currentStory.isEstimated && userLink.isAdmin">       
        <form role="form" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" style="width: 90px;" id="points" placeholder="Points" ng-model="points" required>
            </div>
            <button class="btn btn-primary" ng-click="enterPoints()">Enter Points</button>
        </form>        
    </div> 

    </div>
